<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <title>EduCarreira</title>
</head>
<body>
    <header>
        <div id="title">
            <h1>EduCarreira</h1>
    
        </div>

        <ul>
            
            <a href="#"><li>Serviços</li></a>
            <a href="#"><li>Sobre</li></a>
            <a href="#"><li>Contato</li></a>
            <a href="/registro" id="inscreva-se-btn"><li>Já tem uma conta?</li></a>
        </ul>
    </header>

    <main>
       <aside>
            <h2><span>Iniciar a sessao agora</span></h2>
            <p>
                Se você é um educador apaixonado em busca de novos desafios e oportunidades de crescimento profissional, você veio ao lugar certo.
            </p>
            <form>
                <input type="text" placeholder="Nome">
                <input type="email" placeholder="E-mail">
                <input type="submit" value="Enviar" id="btn-enviar-main">
            </form>
        </aside>

        <article>
            <img src="{{ url_for('static', filename='img/pio.png') }}" alt="download(1)">
        </article>
    </main>

    <script src="{{ url_for('static', filename='create-register.js') }}"></script>
</body>
</html>